name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Log in to GitHub Container Registry
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Create multiarch builder
      run: docker buildx create --name ruby_multiarch --use
    - name: Build and push the Docker image
      run: docker buildx build --file Dockerfile --tag ghcr.io/${{ github.repository_owner }}/lw_base:latest --platform linux/arm/v7,linux/arm64/v8,linux/amd64 --builder ruby_multiarch --push .
